@page
@model Smiley.Pages.Company.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.viewcompany.companyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.viewcompany.cvr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.viewcompany.companyAddress)
            </th>
            <th>
                Lastest Smiley
            </th>
            <th>
                @Html.DisplayNameFor(model => model.viewcompany.allSmileyReports)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.viewCompanyList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cvr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyAddress)
            </td>
            <td>
                @if (item.numberOfReports != 0)
                    {
                        @switch (item.allSmileyReports[0].smileyFace)
                        {
                            case Smiley.Data.Models.SmileyEnum.Happy:
                                <img src="~/images/smiley1.jpg" style="max-width:50px;width:100%" />
                                break;

                            case Smiley.Data.Models.SmileyEnum.Neutral:
                                <img src="~/images/smiley2.jpg" style="max-width:50px;width:100%" />
                                break;

                            case Smiley.Data.Models.SmileyEnum.Sad:
                                <img src="~/images/smiley3.jpg" style="max-width:50px;width:100%" />
                                break;
                        }
                    }
            </td>
            <td>
                @if (item.numberOfReports > 1)
                {
                    for (int i = 1; i < (item.numberOfReports); i++)
                    {
                        if (i == 4)
                        {
                            break;
                        }

                        switch (item.allSmileyReports[i].smileyFace)
                        {
                            case Smiley.Data.Models.SmileyEnum.Happy:
                                <img src="~/images/smiley1.jpg" style="max-width:50px;width:100%" />
                                break;

                            case Smiley.Data.Models.SmileyEnum.Neutral:
                                <img src="~/images/smiley2.jpg" style="max-width:50px;width:100%" />
                                break;

                            case Smiley.Data.Models.SmileyEnum.Sad:
                                <img src="~/images/smiley3.jpg" style="max-width:50px;width:100%" />
                                break;
                        }
                    }
                }   
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
